:root {
    --primary: #005670;
    --primary--light: #0491BD;
    --secondary: #BD6004;
    --secondary--light: #FF8F1F;
    --accent: #F4442E;
    --black: #404040;
    --white: #fcfcfc;
    --yellow: #ff9;
    --blue: #79f;
    --pink: #f9f;
}
* {
    box-sizing: border-box;
    color: inherit;
    font-family: monospace;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
*:focus {
    outline: none;
}
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-attachment: fixed;
    background-image: url('./corkboard.jpg');
    background-size: cover;
    min-height: 100vh;
}

wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1024px;
    min-height: 100vh;
}

header {
    display: block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 100vw;
}

main {
    flex-grow: 1;
    margin: .75rem;
}
