:root {
    --primary: #005670;
    --primary-xlight: #0491BD;
    --primary-light: #037BA0;
    --secondary-dark: #B45C04;
    --secondary: #BD6004;
    --secondary-light: #FF8F1F;
    --black: #040404;
    --grey: #808080;
    --grey-dark: #737373;
    --grey-light: #A0A0A0;
    --white: #FCFCFC;
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Noto Sans'), local('NotoSans'), url(/fonts/NotoSans-Regular.ttf) format('ttf');
}

* {
    box-sizing: border-box;
    color: inherit;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url(lyderhorn.webp);
    background-attachment: fixed;
    background-size: cover;
    display: block;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.shadow {
    box-shadow: 4px 4px 4px rgba(0,0,0,.75);
}

.stack > * + * {
    margin-top: 1rem;
}

a[target~="_blank"] {
    border-bottom: 2px dashed var(--secondary-light);
    display: inline-block;
    margin-left: -.25ch;
    margin-right: -.25ch;
    padding: 0 .25ch;
}

a[target~="_blank"]:active,
a[target~="_blank"]:hover,
a[target~="_blank"]:focus {
    background-color: var(--secondary-light);
    border-bottom: 2px solid var(--black);
    color: var(--black);
    outline: none;
    text-decoration: none;
}