:root {
    --primary: #005670;
    --primary-light: #0491BD;
    --secondary: #BD6004;
    --secondary--light: #FF8F1F;
    --accent: #F4442E;
    --white: #fcfcfc;
}
* {
    box-sizing: border-box;
    color: inherit;
    font-family: monospace;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
*:focus {
    outline: none;
}
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a[external] {
    /* border-color: transparent;
    border-style: solid;
    border-width: 2px;
    color: var(--primary);
    font-weight: 600;
    padding: 2px;
    margin: -2px; */
}

a[external]:focus {
    border-color: var(--primary);
}
a[external]:hover {
    background-color: var(--primary);
    color: var(--white);
}

body {
    background-color: var(--white);
}

wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1024px;
    min-height: 100vh;
}

header,
footer {
    display: block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
main {
    flex-grow: 1;
}