:root {
	--primary: 200 90% 50%;
	--primary--200: 200 90% 80%;
	--secondary: 30 100% 56%;
	--secondary--200: 30 100% 76%;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: 1.25;
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-decoration: inherit;
}

*:is(:active, :focus, :hover) {
	outline: 0;
}

html {
	font-family: 'Glory', sans-serif;
	height: 100%;
}

body {
	background-color: hsl(var(--primary));
	color: var(--black);
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
}
body.noscroll {
	overflow: hidden;
}
h1 {
	font-size: 1.5rem;
	font-weight: 600;
}

h2 {
	border-bottom: 2px solid currentColor;
	font-size: 1.25rem;
}

a {
	border-bottom: 2px solid hsl(var(--primary));
	isolation: isolate;
	padding: 0rem 0.5ch;
	position: relative;
}
a:before {
	--initialScale: scale(1, 0);
	background-color: hsl(var(--primary--200));
	content: '';
	inset: 0;
	position: absolute;
	transform: var(--initialScale);
	transform-origin: bottom;
	transition: transform 200ms;
	z-index: -1;
}

a:is(:active, :focus, :hover):before {
	content: '';
	inset: 0;
	position: absolute;
	transform: scale(1, 1);
	z-index: -1;
}

a.ltr:before {
	--initialScale: scale(0, 1);
	transform-origin: left;
}

a.rtl:before {
	--initialScale: scale(0, 1);
	transform-origin: right;
}

a.cnt:before {
	--initialScale: scale(0, 0);
	transform-origin: center;
}

pre {
	background-color: hsl(var(--primary) / 0.7);
	border-inline-start: 4px solid hsl(var(--primary) / 1);
	overflow-x: auto;
	padding: 0.5rem;
}
code {
	font-family: monospace;
}

strong {
	font-weight: 600;
}

::-webkit-scrollbar {
	height: 0.625rem;
	width: 0.625rem;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: hsl(var(--secondary));
	border-radius: 6px;
}

pre::-webkit-scrollbar-thumb {
	background-color: hsl(var(--primary));
}

blockquote {
	background-color: hsl(0 0% 0% / 0.1);
	border: 2px solid currentColor;
	padding: 1rem;
	position: relative;
}
blockquote:after,
blockquote:before {
	background-color: currentColor;
	content: '';
	height: 1rem;
	position: absolute;
	width: 1rem;
}

blockquote:before {
	inset-block-start: -0.5rem;
	inset-inline-start: -0.5rem;
}
blockquote:after {
	inset-block-end: -0.5rem;
	inset-inline-end: -0.5rem;
}

hr {
	background-image: paint(curvy-strip);
	color: hsl(var(--primary));
	border: 0;
	column-span: all;
	height: 1rem;
	margin: 1rem -1rem;
}

img {
	display: block;
	width: 100%;
}
